<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/myacc">
		<button type="submit">My Account</button>
	</form>
	<form action="/feeds">
		<button type="submit">Feed</button>
	</form>
	<form action="/logout">
		<button type="submit">Log Out</button>
	</form>
</body>
</html>