<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/login">
		<button type="submit">Login</button>
	</form>
	<form action="/register">
		<button type="submit">Register</button>
	</form>
</body>
</html>