<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/register">
		<button>Register</button>
	</form>

	<br><br>
	<h2>Login</h2>
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="submit" name="submit">
	</form>
</body>
</html>