<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/feeds">
		<button>Back</button>
	</form>
	<h2>Liked By :</h2>

	<% var i =1; %>
	<% User.forEach((each)=>{ %>
		<p><%= i %>) <a href="/acc/<%= each.id %>"><%= each.name %></a> </p>
	<% ++i;}) %>
</body>
</html>
